/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
}

/* Create Variables */
:root {
  --primary-color: #0f0;
  --secondary-color: rgb(1, 1, 13);
}
/* use Variables */
h1 {
  color: var(--primary-color);
  color: white;
   text-shadow: 2px 2px var(--secondary-color);
   text-align: center;
   margin-top: 25px;
}
 html{
    background-image: linear-gradient(to bottom, blue, rgb(83, 90, 164));
    height: 100%;
 }
#showTimeDiv, #movieLengthDiv, #previewLengthDiv{
  display:flex;
  flex-direction: column;
  margin: 20px;
} 
#mainDiv {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 7px;
  color: white;
}
input {
  text-align: center;
  margin: 7px;
  border-radius: 5px;
}
.input {
  display: flex;
  flex-direction: row;
}
.fake{
  visibility: hidden;
}
#calculateButton {
  display: block;
  width: 100%;
  border: 2px solid white; 
  background-color: #741cc5;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  padding: 7px;
  color: white;
  border-radius: 10px;
}
#calculateButton:hover {
 background-color: #503073;
}
#endTimeOutput {
  margin: 15px;
  text-align: center;
  font-size: 33px;
}