/* Reset */
* {
  /* padding will not add to the ACTUALLY WIDTH OF THE BOX */
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  text-decoration: none;
}

/* Create Variables */
:root {
  --primary-color: #0f0;
  --secondary-color: rgb(1, 1, 13);
}
/* use Variables */
h1 {
  color: blue;
  text-shadow: 2px 2px var(--secondary-color);
  text-align: center;
  margin-top: 25px;
}
html {
  height: 100%;
  padding: 5px;
}
#showTimeDiv,
#movieLengthDiv,
#previewLengthDiv,
#showTimeDiv2,
#movieLengthDiv2,
#previewLengthDiv2,
#showTimeDiv3,
#movieLengthDiv3,
#previewLengthDiv3,
#showTimeDiv4,
#movieLengthDiv4,
#previewLengthDiv4,
#showTimeDiv5,
#movieLengthDiv5,
#previewLengthDiv5 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#mainDiv {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 7px;
  color: white;
}
input {
  text-align: center;
  margin: 7px;
  border-radius: 5px;
}
.input {
  display: flex;
  flex-direction: row;
}
.fake {
  visibility: hidden;
}

#calculateButton,
#calculateButton2,
#calculateButton3,
#calculateButton4,
#calculateButton5 {
  display: block;
  width: 100%;
  border: 2px solid white;
  /* background-color: #741cc5; */
  background-color: #503073;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  padding: 7px;
  color: white;
  border-radius: 10px;
}
#calculateButton:hover,
#calculateButton2:hover,
#calculateButton3:hover,
#calculateButton4:hover,
#calculateButton5:hover {
  background-color: blueviolet;
}

#endTimeOutput,
#endTimeOutput2,
#endTimeOutput3,
#endTimeOutput4,
#endTimeOutput5 {
  margin: 15px;
  text-align: center;
  font-size: 33px;
}

#showTimeDiv2,
#showTimeDiv3,
#showTimeDiv4,
#showTimeDiv5 {
  margin-top: 50px;
}

#first {
  background-color: #820ee8;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#second {
  background-color: #ff008b;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#third {
  background-color: #2de11d;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#forth {
  /* background-color: #ee82ee; */
  background-color: blue;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#fifth {
  background-color: #ffa500;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnDiv {
  margin: 10px;
}
